.black{
  background-color: black;
  border: none;
  color: white;
  /* @apply bg-black, border-0, text-white */
}
.white{
  background-color: transparent;
  border: 1px solid lightgray;
  color: #1F2937;
  /* @apply bg-transparent, border-solid, border-gray-50, border-2, text-black */
}
.neutral{
  background-color: #F5F5F5;
  border: none;
}
.width{
  width: 100%;
}