.black{
  background-color: black;
  border: none;
  color: white;
  /* @apply bg-black, border-0, text-white */
}
.white{
  background-color: transparent;
  border: 1px solid lightgray;
  color: #1F2937;
  /* @apply bg-transparent, border-solid, border-gray-50, border-2, text-black */
}
.neutral{
  background-color: #F5F5F5;
  border: none;
}
.width{
  width: 100%;
}

.hamburger{
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 17px;
  transition: all 0.25s;
}

.hamburgerTop,
.hamburgerMiddle,
.hamburgerBottom{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  transition: all 0.5s;
  transform: rotate(0);
}
.hamburgerMiddle{
  transform: translateY(7px);
}
.hamburgerBottom{
  transform: translateY(14px);
} 
.open{
  transform: rotate(90deg) 
}
.open .hamburgerTop{
  transform: rotate(45deg) 
  translateY(6px) translate(6px) 
} 
.open .hamburgerMiddle{
  display: none; 
}  
.open .hamburgerBottom{
  transform: rotate(-45deg) 
  translateY(6px) translate(-6px) 
}
.image {
  animation: rise 2.5s ease-in-out infinite alternate;
}
@keyframes rise {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
